<div class="container p-4">
    <div class="row">
        {{#each links}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <a href="/links/{{_id}}">
                        <h3 class="card-title text-uppercase">
                            {{marca}} {{modelo}}
                        </h3>
                    </a>
                    {{#if imageLinks}}
                    <img src="{{imageLinks.[0]}}" class="img-fluid" alt="Imagen del celular">
                    {{else}}
                    <p>No hay imagen disponible</p>
                    {{/if}}
                    <p class="m-2">Precio: ${{precio}}</p>
                    <p class="m-2">Condición: {{condicion}}</p> 
                    <p class="text-muted">
                        {{timeago created_at}}
                    </p>
                    <a class="btn btn-danger" href="/links/delete/{{_id}}">
                        Eliminar
                    </a>
                    <a class="btn btn-secondary" href="/links/edit/{{_id}}">
                        Editar
                    </a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay publicaciones guardadas aún.</p>
                <a href="/links/add">¡Crea una!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>
